@import '~assets/styles/variables';

.feed-list {

  .list-header,
  .list-item {
    padding: .3em 0;

    align-items: center;

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      //letter-spacing: 2px;
    }

    > .image {
      flex: .21;
    }

    > .name {
      flex: .5;
    }

    > .post-count {
      flex: .25;
      text-align: center;
    }

    > .url {
      flex: 1;
    }

    > .language {
      flex: .25;
      text-align: center;
    }

    > .feed {
      flex: .1;
      text-align: center;
    }
  }

}