@import '~assets/styles/variables';

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%);
  }

  40% {
    transform: translateX(0%);
  }

  60% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.loading-bar {
  display: block;
  position: fixed;
  z-index: 300150;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #61dafb;
  box-shadow: 0 0 10px #fff;
  transform: translateX(100%);
  animation: none;

  &.loading-bar--loading {
    animation: shift-rightwards 1s ease-in-out infinite;
  }

  div {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 0 0 10px #fff
  }
}