@import '~assets/styles/variables';

.form__row {
  margin-bottom: .9em;

  label {
    cursor: pointer;
  }

  .validation-icon {
    width: 16px;
    line-height: 3px;
    font-size: 1.3rem;
  }

  .icon-success {
    color: limegreen;
  }

  .icon-error {
    color: red;
  }
}

.feed-url-container {
  align-items: center;
  > div:first-child {
    > div {
      margin: 0 1.1em;
    }
  }

  > div:last-child {
    flex: 1;
  }
}

.form-submit-success-message {
  background-color: #DEF4A9;
  padding: 1em;
  margin: 1em 0;
  font-weight: bold;
  border-radius: $border-radius;
}

.form-error-message {
  margin: .15em 0;
}

.pr-time-picker-input {
}

.pr-time-list {
  position: absolute;
  z-index: 9000;
  max-height: 300px;
  width: 77px;
  overflow: auto;

  user-select: none;
  list-style: none;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.pr-time-list__item {
  cursor: pointer;
  padding: .5em;
}

.pr-time-list__item:hover {
  background-color: #dfdfdf;
}

.pr-time-list__item--selected {
  background-color: #c1c1c1;
}

.pr-calendar {
  position: absolute;
  z-index: 100300;
  user-select: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.pr-calendar__header {
  display: flex;
  justify-content: space-between;
  background-color: #d1d1d1;
}

.pr-calendar__title {
  font-weight: bold;
}

.pr-calendar__navigation-button {
  cursor: pointer;
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.pr-calendar__day-names,
.pr-calendar__days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.pr-calendar__day-name,
.pr-calendar__day {
  flex-basis: calc(100% / 7);
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  min-width: 0;

  text-align: center;

  min-height: 20%;

  border: 1px solid #ffffff;
}

.pr-calendar__day-name {
  background-color: #d1d1d1;
  cursor: default;
}

.pr-calendar__day {
  background-color: #f7f7f7;
  cursor: pointer;
}

.pr-calendar__day:hover {
  background-color: #dfdfdf;
}

.pr-calendar__day--selected {
  background-color: #c1c1c1;
}

.pr-calendar__day--today {
  font-weight: bold;
}





.pr-tag-input {

  $spacing: .20em;

  $wrapper-border-color: #d1d1d1;
  $wrapper-background-color: inherit;

  $tag-background-color: #D1E5E3;
  $tag-color: inherit;

  $remove-button-background-color: #C2CBC5;
  $remove-button-color: inherit;

  display: flex;
  border: 1px solid $wrapper-border-color;
  background-color: $wrapper-background-color;
  padding: .1em;
  border-radius: $border-radius;

  .pr-tag-input__display-values {
    list-style-type: none;
    margin: 0;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;

    li {
      margin: $spacing;
    }

    li.pr-tag-input__tag {
      font-size: .9rem;
      padding: ($spacing*2);
      background-color: $tag-background-color;
      color: $tag-color;
      border-radius: $border-radius;
      line-height: inherit;
      display: inline-flex;
      align-items: flex-end;
      &:last-child {
        margin-right: 0;
      }
    }

    li.pr-tag-input__input-wrap {
      padding: 0 ($spacing);
    }
  }

  input {
    border-radius: 0;
    border: none !important;
    outline: none;
    width: 80px;
    padding: $spacing 0;
  }

  input:focus {
    outline: 0;
  }

  span {
    display: inline-block;
    margin: 0 ($spacing*2);
  }

  button {
    cursor: pointer;
    background-color: $remove-button-background-color;
    color: $remove-button-color;
    border-radius: 50%;
    font-size: .9rem;
    border: 0;
    padding: 0 .50em;
    margin: 0 0 0 ($spacing*1.5);
    &:hover {
      background-color: lighten($remove-button-background-color, 7);
    }
  }

}

.picker-input-wrapper {
  display: flex;
  align-items: center;
  border: .1em solid $form-input-border-color;
  border-radius: $border-radius;

  &__icon {
    padding: 0 .5em .3em .5em;
  }

  input {
    border:none !important;
  }
}