@import '~assets/styles/variables';

.calendar-icon {

  $size: 5.57em;

  width: $size;
  height: $size;
  padding: .67em;
  text-align: center;
  border: .1em solid $default-border-color;
  border-radius: $border-radius;

  b, i {
    display: block;
  }

  b {
    text-transform: uppercase;
    font-size: 1.25rem;
  }

  i {
    font-style: normal;
    font-size: 1.35rem;
  }
}
