@import '~assets/styles/variables';

.profile-menu {

  display: flex;
  background-color: #20232a;
  border-radius: $border-radius;
  position: relative;

  .profile-menu-button {
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    color: #e9e9e9;
    border: none;
    cursor: pointer;
    height: 2.7em;
    padding: 0 1em 0 .7em;
  }
  &--not-logged-in {
    .profile-menu-button {
      padding: 0 1.5em;
    }
  }

  .profile-menu-picture {
    transition: 300ms transform;
    vertical-align: middle;
    padding: 0 .15em 0 .7em;
  }

  .profile-menu__flyout {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 2.7em 0 0 0;
    padding: 0 0 .5em 0;
    background-color: #20232a;
    text-align: left;
    list-style-type: none;
    border-radius: 0 0 $border-radius $border-radius;

    a {
      display: block;
      padding: .35em 1.5em;
    }
  }
}
