@import '~assets/styles/variables';

.profile-card {
  padding: 1.1em 0;
}

.profile-card__name {
  font-size: 1.5rem;
}

.profile-card__blocked {
  font-weight: bold;
  color: red;
  margin: .5em;
}
