.statistics-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;

  .statistic {
    text-align: center;
    min-width: 33%;
    flex: 0 1;
    flex-direction: column;
    display: inline-flex;
    line-height: 1;
    margin-bottom: .7em;

    &.sm {
      line-height: 1.3;
      .value {
        font-size: 1.5rem;
        font-weight: 500;
      }
      .label {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .value {
      font-size: 3.7rem;
      font-weight: 400;
    }

    .label {
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
