.admin-feed-list {

  td {
    border-bottom: 1px solid lightgrey;
    vertical-align: top;
    padding: 1em .3em;
  }

  th:first-child {
    width: 45px
  }
  .failed-row {
    background-color: lightgrey;
  }

  .admin-feed-list__title {
    font-weight: 500;
  }

  .admin-feed-list__approve {
    display: flex;
    align-items: center;
    > * {
      margin-right: .5em;
    }
  }

}