@keyframes ani-bounce-in-down {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes ani-bounce-in-down2 {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-50%, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-50%, -25%, 0);
  }

  75% {
    transform: translate3d(-50%, -40%, 0);
  }

  90% {
    transform: translate3d(-50%, -55%, 0);
  }

  to {
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes ani-zoom-out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@keyframes ani-zoom-out2 {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.3);
  }

  to {
    opacity: 0;
  }
}

@keyframes ani-popup-modal-enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}