@import '~assets/styles/variables';
@import 'animations';

.popup {
  border: .1em solid $default-border-color;
  position: fixed;
  z-index: 100100;
  border-radius: $border-radius;

  padding: 1.5em;

  &--stick {
    position: absolute;
  }

  &--enter {
    &[data-position-type='at-screen'] {
      animation-name: ani-bounce-in-down2;
      animation-duration: 500ms;
    }
    &[data-position-type='at-target'] {
      animation-name: ani-bounce-in-down;
      animation-duration: 500ms;
    }
  }

  &--exit {
    &[data-position-type='at-screen'] {
      animation-name: ani-zoom-out2;
      animation-duration: 500ms;
    }
    &[data-position-type='at-target'] {
      animation-name: ani-zoom-out;
      animation-duration: 500ms;
    }
  }

  &__close-button {
    position: absolute;
    z-index: 10;
    top: -.3em;
    right: -.9em;
  }
}

.popup-modal-wrapper {
  position: fixed;
  z-index: 100050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(30, 30, 30, .3);
  display: none;

  &--open {
    display: block;
    animation-name: ani-popup-modal-enter;
    animation-duration: 300ms;
  }
}



