@import "variables";

input:invalid {
  box-shadow: none;
}

input, textarea, select {
  font: 1rem $font;
  color: inherit;
}

input, button, textarea {
  font-size: 1rem;
  line-height: 1.5;
}

input[type=text],
input[type=url],
input[type=email],
input[type=date],
input[type=number],
input[type=password],
input[type=date],
input[type=datetime-local],
textarea {
  border: 1px solid $form-input-border-color;
  padding: 5px;
  color: inherit;
  font-size: .9rem;
  width: 100%;
  display: block;
  background: transparent;
  border-radius: $border-radius;

  &:disabled {
    background: #fafafa;
  }
}

input[type=checkbox] {
  cursor: pointer;
}

.select-wrapper {
  display: inline-block;
  position: relative;

  border: 1px solid $form-input-border-color;
  background-color: $body-background-color;
  border-radius: $border-radius;

  select {
    padding: 6px 24px 6px 8px;
    appearance: none;
    font-size: 1rem !important;
    background-color: $body-background-color;
    border: none;
    border-radius: 0;
    position: relative;
    cursor: pointer;
    z-index: 10;
  }
}

.select-wrapper:after {
  content: "❯";
  pointer-events: none;
  transform: rotate(90deg);
  position: absolute;
  top: 6px;
  right: 12px;
  z-index: 5000;
}

@-moz-document url-prefix() {
  .select-wrapper:after {
    top: 6px;
    right: 8px;
  }
}