$is-mobile: "only screen and (max-width: 550px)";

$main-margin: 1.5em;

$body-background-color: #fcfcfc;
$font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$base-font-color: #403e4c;
$link-color: #42404e;
$default-border-color: #e9e3ed;

$border-radius: 3px;

$form-input-border-color: #E2D9DB;

$error-background-color: #EA5929;
$error-font-color: #FAFAFA;
