@import 'variables';
@import 'reset';
@import "form";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 85%;
}

body {
  background-color: $body-background-color;
  font-family: $font;
  font-size: 1rem;
  line-height: 1.55;
  font-weight: 400;
  color: $base-font-color;
  text-rendering: optimizeLegibility
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 400;

  &:hover {
    //color: #a5473a;
    text-decoration: underline;
  }
}

h1 {
  font-size: 1.3rem;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: .5em;
}

h2 {
  font-size: 1.29rem;
  line-height: 1.35;
  font-weight: 500;
  margin-bottom: .27em;
}

h3 {
  font-size: 1.35em;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: .3em;
  position: relative;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
}

h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  margin: 1em 0;
}

hr {
  border: none;
  height: 1px;
  background-color: $default-border-color;
}

ul, ol {
  margin: 1em 1.3rem;
}

code {
  background-color: $body-background-color;
  border-radius: $border-radius;
  font-size: 100%;
  padding: .2em;
  white-space: pre-wrap;
}

dl {
  //letter-spacing: 1px;
}

dt {
  font-weight: bold;
  font-size: 1rem;
  margin: 1em 0;
}

dd {
  margin: 1em 0 1em 1em;
}

table {
  width: 100%;
  th {
    text-align: left;
  }

  th, td {
    padding: .1em .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.content {
  width: 100%;
  display: flex;
  padding: 0 $main-margin;

  .west {
    width: 70%;
    margin-right: $main-margin;
  }

  .east {
    width: 30%;
  }
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.horizontal-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;

  li:not(:last-child) {
    margin-right: .7em;
  }
}

//@keyframes tooltip-fade-up {
//  from {
//    bottom: 100%;
//    opacity: 1;
//  }
//
//  to {
//    bottom: 230%;
//    opacity: 0;
//  }
//}
//.tootltip {
//  position: relative;
//}
//.tootltip:hover:after {
//  content: attr(title);
//  display: block;
//
//  position: absolute;
//  bottom: 100%;
//  left: 50%;
//  margin-bottom: 5px;
//  margin-left: -80px;
//  padding: 7px;
//  width: 160px;
//  border-radius: 3px;
//  background-color: #fff;
//  color: inherit;
//  text-align: center;
//  opacity:0;
//
//  animation-duration: 1000ms;
//  animation-name: tooltip-fade-up;
//}