@keyframes screen-popover-enter {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.screen-popover {
  animation-name: screen-popover-enter;
  animation-duration: 500ms;
  position: fixed;
  z-index: 10001;
  padding: .79em 0;
  background-color: #fcfcfc;
}

.screen-popover__content {
  position: absolute;
  z-index: 10010;
  top: 2.9em;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  padding-bottom: 1.7em;
}

.screen-popover__toolbar {
  position: absolute;
  z-index: 10020;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fcfcfc;
  padding: .3em .51em;
}