@import '~assets/styles/variables';

.logo {
  $logo-font-color: #61dafb;

  display: inline-flex;
  font-family: $font;
  font-size: 2.7rem;
  color: $logo-font-color !important;
  font-weight: 400;

  justify-content: center;
  align-items: center;

  &:hover {
    color: $logo-font-color;
    text-decoration: none;
  }
  &:visited {
    color: $logo-font-color;
  }

  img {
    width: 61px;
    height: 57px;
    margin-right: .1em;
  }

}


