@import '~assets/styles/variables';

$message-default-color: #2e3a4a;

.message {
  border-radius: $border-radius;
  position: relative;
  padding: 0.7em 1em;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.1em;

  > div {
    width: 100%;
  }

  button.message-close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    padding: .43em .39em;
    margin: 0;
    line-height: 0;
    cursor: pointer;
    opacity: .47;

    &:hover {
      opacity: .65;
    }
  }
}

.message--left {
  text-align: left;
}

.message--center {
  justify-content: center;
}

.message--right {
  justify-content: flex-end;
}

.message--transparent {
  background-color: #FBFBFB;
  border: .1em solid #ededed;
  color: $message-default-color;
}

.message--warning {
  background-color: #f7e97c;
  color: $message-default-color;
}

.message--success {
  background-color: #c7f9eb;
  color: $message-default-color;
}

.message--error {
  background-color: #ca3b27;
  color: #fff;
}

.message--info {
  background-color: #95E1F4;
  color: $message-default-color;
}

