@import '~assets/styles/variables';

.my-events {
  padding: 0 0 .59em 0;
  border-bottom: 1px solid $default-border-color;
  h2 {
    margin: 0;
  }
}

.my-events__list-header {
  justify-content: space-between;
}

.my-events__item {
  margin: 1em 0;
  align-items: flex-start;
}

.my-events__item {

  .my-events__activate-col,
  .my-events__edit-col {
    padding-right: 1em;
  }

  .my-events__edit-col {
    flex: .7;
  }

  .my-events__activate-col {
    flex: .9;
  }

  .my-events__name-col {
    flex: 4;
  }
}

.my-events__inactive {
  opacity: .53;
}

.my-events__list-header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: inherit;
  &:hover {
    text-decoration: none;
  }

  button {
    margin-left: .7em;
    padding: 0 0 !important;
  }
}
