@import '~assets/styles/variables';

.button {

  $primary-background-color: #60acd4;
  $primary-color: #fff;

  $secondary-background-color: #D8E6E5;
  $secondary-color: #3d3d3d;

  $blue-background-color: #2e3a4a;
  $blue-color: #fff;

  border: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;

  &.button--large {
    font-size: 1rem;
    padding: .5em 1em;
    .button__icon {
      padding-right: .5em;
    }
  }

  &.button--medium {
    font-size: .9rem;
    padding: .5em .7em;
    .button__icon {
      padding-right: .463em;
    }
  }

  &.button--small {
    font-size: .8rem;
    padding: .35rem .7em;
    .button__icon {
      padding-right: .523em;
    }
  }

  &.button--primary {
    color: $primary-color;
    background-color: $primary-background-color;
    svg path {
      fill: $primary-color;
    }
  }

  &.button--secondary {
    color: $secondary-color;
    background-color: $secondary-background-color;
    svg path {
      fill: $secondary-color;
    }
  }

  &.button--blue {
    color: $blue-color;
    background-color: $blue-background-color;
    svg path {
      fill: $blue-color;
    }
  }

  &.button--transparent {
    background-color: transparent;
  }

  &:hover {
    opacity: .75;
  }

  &[disabled] {
    opacity: .5;
    cursor: default;
  }

}