@import '~assets/styles/variables';

.image-uploader {

  label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-bottom: 1em;
    &:hover:after {
      position: absolute;
      content: 'Update Image';
      bottom: 0;
      left: 50%;
      width: 7em;
      transform: translateX(-50%);
      font-size: .8rem;

    }
    img {
      transition: transform .5s;
      &:hover {
        transform: scale(.9);
      }
    }
  }

  input[type="file"] {
    display: none;
  }

}