@import '~assets/styles/variables';

.feed-info {

  margin-bottom: 1em;

  &__image-col {
    margin-right: 1.3em;
  }

  &__stats {
    margin-bottom: 1.5em;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: space-around;

    > * {
      margin: 1.5em 2em 0 0;
      @media #{$is-mobile} {
        margin-bottom: 1em;
      }
    }

    .value-box {
      text-align: center;

      em, span {
        display:block;
      }

      em {
        text-transform: uppercase;
        font-size: 2.7em;
        font-style: normal;
      }
    }

    .__dates {
      .label {
        width: 9.5em;
      }
    }

  }

}
