@import '~assets/styles/variables';

.my-bookmarks-list {
  list-style-type: none;
  margin: 0;
  padding: .3em 0;
  border-radius: $border-radius;

  &:last-child {
    padding-bottom: 0;
  }

  li.my-bookmarks-list__item {
    display: flex;
    justify-content: space-between;
    align-items:  flex-start;
    padding-bottom: 1em;

    .my-bookmarks-list__icon-col {
      margin-right: .7em;
    }

    .my-bookmarks-list__content-col {
      text-overflow: ellipsis;
      flex: 1;
    }

    .my-bookmarks-list__meta {
      color: #888;
      font-size: .9rem;
    }

    .bookmarks-tag-list-wrapper {
      margin-top: .67em;
    }

  }
}

