@import '~assets/styles/variables';

.tag-list {
  list-style-type: none;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    display: inline-block;
    margin-right: 1em;
    background-color: #e9e9e9;
    border-radius: $border-radius;
    margin-bottom: .5em;
    font-size: .9rem;

    &:hover {
      background-color: #e9e3ed;
    }

    a {
      display: inline-block;
      padding: .33em 1em
    }

    a:hover {
      text-decoration: none;
    }
  }
}
