@import '~assets/styles/variables';

.post-list {

  .post-list__item {
    padding-bottom: .7em;

    border-radius: 0 0 0 $border-radius;

    > div {
      flex-shrink: 0;
    }

    > .post-list__image-col {
      white-space: nowrap;
      margin: 0 1em;
    }

    > .post-list__main-col {
      flex: 5;

      > .title {
        display: inline-block;
        a {
          font-weight: 400;
        }
      }

      > .meta {
        margin-bottom: .9em;
        text-align: left;
        color: #888; //607BA1;
        font-weight: 400;
      }
    }

    > .post-list__bookmark-col {
      text-align: center;
    }
  }

  .post-list__item:not(:first-child) {
    padding-top: 1em;
    border-top: .1em solid $default-border-color;
  }

  .post-list__report-button {
    margin: .25em 0 .35em 0;
    font-size: .9rem;
  }

  .posts-tag-list-wrapper {
    align-items: baseline;
    margin-bottom: .3em;

    &__tags {
      margin-right: .3em;
    }
  }

  .post-list-report-form-wrapper {
    margin: .75em 0 1.5em;
    border: .1em solid #e2d9db;
    border-radius: $border-radius;
    padding: 1.5em 1.5em .5em 1.5em;

  }

}