@keyframes radio-pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes radio-progressbar-wrapper-stretch {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.radio {
  position: relative;

  &__toggle {
    padding-right: 0.97em;

    &:hover {
      svg {
        animation: radio-pulse;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }

  &__progress-bar-wrapper,
  &__progress-bar-wrapper__activated {
    margin-top: .37em;
  }

  &__progress-bar-wrapper__activated {
    background-color: #dedede;
    animation: radio-progressbar-wrapper-stretch;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }

  &__progress-bar {
    height: .1em;
  }

}