@import '~assets/styles/variables';

.reader {

  margin-bottom: 1em;

  .reader__content,
  .reader__tags {
    width: 51%;
    margin: 0 auto;

    @media #{$is-mobile} {
      width: 93%;
    }
  }

  .reader__content {

    .reader__content-byline {
      color: #888;
      .reader__content-domain {
        padding-left: .7em;
      }
    }

    iframe {
      width: 100%;
    }

    a {
      color: #607BA1;
    }

    img {
      width: 100%;
    }

    h1 {
      font-size: 2.19em;
    }
    h2 {
      font-size: 1.63em;
    }
    h3 {
      font-size: 1.59em;
    }
    h4 {
      font-size: 1.55em;
    }
    h5 {
      font-size: 1.37em;
    }

    ul, ol {
      margin: 0 2em;
    }

    .reader__content-video {
      margin: 1em 0;
    }

  }
}




