@import '~assets/styles/variables';

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: flex;
  align-items: center;
}

.spinner-spinner {
  border-radius: 50%;
  border: .35em solid #60acd4;
  border-right-color: transparent;
  animation: spinner-rotate 0.43s infinite linear;
  margin: 0 auto;
}

.spinner-text {
  margin-top: 1em;
}
