@import '~assets/styles/variables';

.subscription-list {

  &__item {
    padding: 0 0 1em 0;
  }

  &__item:not(:first-child) {
    padding-top: 1em;
  }

  &__item:not(:last-child) {
    border-bottom: .1em solid $default-border-color;
  }

}