@import '~assets/styles/variables';

@keyframes radio-wrapper-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {

  $ui-element-background-color: #282C34;
  $ui-element-color: #e9e9e9;
  $ui-element-active-background-color: lighten($ui-element-background-color, .37);
  $ui-element-active-color: #60acd4;
  $ui-element-border: 1px solid #282C34;
  $ui-element-border-radius: $border-radius;

  width: 100%;
  height: 14.5em;
  padding-top: 2.5em;
  margin-bottom: 1.5em;
  background-color: #282C34;
  font-size: 1rem;
  flex-wrap: wrap;
  position: relative;

  a {
    color: $ui-element-color;
  }

  &__search-menu-item {
    margin: 0 .63em !important;
  }

  &__inner {
    margin: 0 $main-margin;
  }

  nav {
    position: absolute;
    bottom: 0;
    background-color: #20232a;
    width: 100%;
    display: inline-flex;

    ul {
      display: inline-flex;
      margin: 0 $main-margin;
      list-style: none;
    }

    li {
      display: inline-flex;
      align-items: center;
      margin: 0;
    }

    a {
      display: inline-block;
      //font-size: .9rem;
      font-weight: 400;
      padding: .75em 1em;
      border-bottom: .3em solid transparent;
    }
    a.active {
      border-bottom-color: $ui-element-active-color;
      background-color: $ui-element-active-background-color;
    }
    a.active,
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &__description {
    //display: none;
    margin-top: .7em;
    margin-left: 0;
    //font-size: .9rem;
    font-weight: 400;
    color: #acacac;
  }

  &__radio-wrapper {
    margin-top: 0;
    margin-left: 5.9em;
    animation: radio-wrapper-fadein 1s;
    font-size: .9rem;
    border-radius: $border-radius;
    a {
      color: #acacac;
    }
  }

  input[name=search] {

    padding: .41em 0.5em 0.5em 2.7em;
    color: $ui-element-color;
    font-size: 1rem;
    border: none;
    border-radius: $ui-element-border-radius;
    width: 3em;
    transition: width 100ms;
    cursor: pointer;
    background-image: url(assets/images/search.svg);
    background-size: 15px;
    background-position: 11px .67em;
    background-repeat: no-repeat;
    font-weight: 300;
    &:focus, &.has-value {
      width: 11em;
      outline: none;
      background-color: $ui-element-background-color;
      @media #{$is-mobile} {
        width: 7.5em;
      }
      cursor: inherit;
    }
  }

  .profile-menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .select-wrapper {
    width: 103px;
    background-color: $ui-element-background-color !important;
    border: $ui-element-border;
    padding: 0.31em;

    @media #{$is-mobile} {
      width: 100px !important;
    }

    select {
      background-color: $ui-element-active-background-color !important;
      color: #ddd;
      width: 100%;
      padding: 0 25px 0 10px;
      border: none !important;
    }
  }

  .select-wrapper:after {
    color: $ui-element-color;
    top: .43em;
  }

}