@import '~assets/styles/variables';

.event-list-item {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $default-border-color;
}

.event-list-item {
  .event-list-item__date-col {
    margin: 0 1.5em 0 1em;
  }

  .event-list-item__info-col {
    flex: 1;
  }

  .event-list-item__tools-col {
    margin-left: 1em;
    padding-top: .3em;
  }
}

.event-list-item:last-child {
  border-bottom: none;
}

.event-list-item__date-time {
  font-size: 1rem;
  margin: 0 0 .7em 0;
}

.event-list--edit-wrapper {
  margin-top: 1.1em;
}

.event-list-item__location {
  //background-color: #e9e3ed;
  //padding: .7em;
  border-radius: $border-radius;
  margin-bottom: 1em;

}

.event-list-item__description-field {
  margin-bottom: 1em;
}

.event-list-item__description-field,
.event-list-item__location-field {
  white-space: pre-wrap;
}

.event-list-item__tools {
  margin-bottom: .7em;

  > * {
    margin-right: 1em;
  }

  .button {
    padding: 0 0;
  }

}