@import '~assets/styles/variables';

.month-paginator {

  &__button-col {
    white-space: nowrap;

    button {
      background: none;
      border: none;
      padding: 0.5em 0;
      font-size: 100%;
      margin: 0;
      line-height: 0;
      cursor: pointer;

      &:disabled {
        opacity: .55;
        cursor: default;
      }
    }

    &:first-child {
      margin-right: .5em;
      padding-right: .7em;
      border-right: .1em solid #a1a1a1;
    }

    &:last-child {
      margin-left: .5em;
      padding-left: .7em;
      border-left: .1em solid #a1a1a1;
    }
  }

  &__list-wrapper {
    overflow: hidden;
    user-select: none;
    cursor: grab;
  }

  ul.pr-month-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 .75em 0;

    display: flex;
    align-items: baseline;

    li {
      display: inline-block;
      position: relative;
      margin-right: 1.5em;
      cursor: pointer;

      &.pr-month-list__item--selected {
        //background-color: #60acd4;
        border-bottom: .3em solid #60acd4;

        //color: #fff;
        //border-radius: $border-radius;
        padding: .3em 1em;
      }

      &.pr-month-list__item--disabled {
        opacity: .55;
        cursor: default;
      }
    }
  }
}

.month-paginator-wrapper {
  margin: 0;
}