@import '~assets/styles/variables';

.menu {
  display: flex;
  list-style-type: none;
  align-items: baseline;
  margin: 0;
  padding-bottom: .5em;

  li {
    display: inline-flex;
    margin-right: .5em;
  }

  a {
    display: inline-block;
    padding: .3em 1em;
    &:hover {
      text-decoration: none;
    }
  }

  a.active {
    &:hover {
      text-decoration: none;
    }
  }
}

.menu-align-center {
  justify-content: center;
}

.menu-align-right {
  justify-content: right;
}

.menu-pill a.active {
  color: #fff;
  background-color: #60acd4;
  border-radius: $border-radius;
}

.menu-underline a.active {
  border-bottom: .3em solid #60acd4;
}